body {
    font-family: sans-serif;
    background-color:lightblue;
    margin-top: 75px;
    ;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    color:purple;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.Can1{
        background: azure;
        color: #00BCD4;
        padding-left: 20px;
        padding-right: 20px;
        padding: inherit;  
        font-family: cursive;
    }


.Can2{
        background: azure;
        color: red;
        padding-left: 20px;
        padding-right: 20px;
        padding: inherit;  
        font-family: cursive;
    }
    
.Can3{
        background: azure;
        color: green;
        padding-left: 20px;
        padding-right: 20px;
        padding: inherit;  
        font-family: cursive;
    }    

